<!-- <div class="create-post">
    <h2>Create a New Post</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title:</label>
        <input id="title" type="text" [(ngModel)]="title" name="title" required />
      </div>
      <div>
        <label for="content">Content:</label>
        <textarea id="content" [(ngModel)]="content" name="content" required></textarea>
      </div>
      <button mat-button color="primary" type="submit">Create Post</button>
    </form>
  </div>
   -->